---
import GridProduse from "@/components/ui/produs/GridProduse.astro"
import PageHero from "@/components/ui/typography/PageHero.astro"
import BaseLayout from "@/layouts/BaseLayout.astro"
import { Debug } from "astro:components"

import { getEntry } from "astro:content"

const { cod } = Astro.params
if (cod === undefined) {
  return Astro.redirect("/404")
}
const partener = await getEntry("parteneri", cod)
if (partener === undefined) {
  return Astro.redirect("/404")
}

const { id, nume, descriere, logo, url } = partener.data
---

<BaseLayout title={nume}>
  <PageHero title={`Partener: ${nume}`} />
  <p class="x">{descriere}</p>
  <Debug {logo} />
  <GridProduse parteneri={[id]} />
</BaseLayout>
