---
import GridProduse from "@/components/ui/produs/GridProduse.astro"
import BaseLayout from "@/layouts/BaseLayout.astro"
import { Debug } from "astro:components"

import { getEntry } from "astro:content"

const { cod } = Astro.params
if (cod === undefined) {
  return Astro.redirect("/404")
}
const partener = await getEntry("parteneri", cod)
if (partener === undefined) {
  return Astro.redirect("/404")
}

const { id, nume, descriere, logo, url } = partener.data
---

<BaseLayout title={nume}>
  <h1 class="text-3xl">{nume}</h1>
  <GridProduse parteneri={[id]} />
</BaseLayout>
