---
import { stripTags } from "@/lib/util"
import { For } from "@forastro/flow"
import { windowed } from "es-toolkit"

interface Props {
  text: string
}

const { text } = Astro.props

const raw_pairs = text.split("\r\n")!
const pairs = windowed(raw_pairs, 2, 2).map((pair) => ({
  dt: stripTags(pair[0]),
  dd: stripTags(pair[1]),
}))

const has_pairs = text.includes("\r\n")
---

<dl class="divide-accent divide-y">
  {
    has_pairs && (
      <For of={pairs}>
        {(elem) => (
          <div class="grid grid-cols-1 gap-1 py-3 sm:grid-cols-3 sm:gap-4">
            <dt class="font-semibold">{elem.dt}</dt>
            <dd class="font-light sm:col-span-2">{elem.dd}</dd>
          </div>
        )}
      </For>
    )
  }
  {!has_pairs && <div class="font-light">{text}</div>}
</dl>
