---
import { stripTags } from "@/lib/util"
import { For } from "@forastro/flow"

interface Props {
  text: string
}

const { text } = Astro.props
const has_pairs = text.includes("\r\n")

const pairs = has_pairs
  ? text
      .split("\r\n")
      .map(stripTags)
      .map((e) => e.split(":"))
      .map((pair) => ({
        dt: stripTags(pair[0]),
        dd: stripTags(pair[1]),
      }))
  : [{ dt: "", dd: text }]
---

<h3 class="pt-2 text-2xl font-medium text-slate-500">Specificații</h3>
<dl class="divide-accent divide-y">
  <For of={pairs}>
    {
      (elem) => (
        <div class="grid grid-cols-1 gap-1 py-3 sm:grid-cols-3 sm:gap-4">
          <dt class="font-semibold">{elem.dt}</dt>
          <dd class="font-light sm:col-span-2" set:html={elem.dd} />
        </div>
      )
    }
  </For>
</dl>
