---
import BaseLayout from "@/layouts/BaseLayout.astro"

import { getEntry, render } from "astro:content"

// import Heading1 from "@/components/ui/typography/Heading1.astro"

const { id } = Astro.params
if (id === undefined) {
  return Astro.redirect("/404")
}

const post = await getEntry("blog", id)
if (post === undefined) {
  return Astro.redirect("/404")
}

const { Content } = await render(post)
---

<BaseLayout title={post.data.title}>
  <div class="prose dark:prose-invert prose-lg max-w-none sm:px-2 sm:pt-12">
    <!-- <Content components={{ h1: Heading1 }} /> -->
    <Content />
  </div>
</BaseLayout>
