---
import { Button } from "@/components/starwind/button"

import { Dropdown, DropdownTrigger, DropdownContent, DropdownItem } from "@/components/starwind/dropdown"

import FlagRO from "circle-flags/flags/ro.svg"
import FlagEN from "circle-flags/flags/gb.svg"
import FlagDE from "circle-flags/flags/de.svg"
import FlagIT from "circle-flags/flags/it.svg"

interface Props {
  isMobile?: boolean
}

const { isMobile = false } = Astro.props
---

<Dropdown>
  <DropdownTrigger asChild>
    <Button variant="ghost" class="rounded-none"><FlagRO />RO</Button>
  </DropdownTrigger>
  <DropdownContent align={isMobile ? "start" : "end"} class="min-w-[5rem]">
    <DropdownItem as="a" href="/en"><FlagEN />EN</DropdownItem>
    <DropdownItem as="a" href="/de"><FlagDE />DE</DropdownItem>
    <DropdownItem as="a" href="/it"><FlagIT />IT</DropdownItem>
  </DropdownContent>
</Dropdown>

<script is:inline>
  //   document.addEventListener("astro:after-swap", () => {
  //     const langSelect = document.getElementById("selectLang")
  //     langSelect.addEventListener("starwind-select:change", (event) => {
  //       console.log("Selected value:", event.detail.value)
  //     })
  //   })
</script>
