---
import { Button } from "@/components/starwind/button"
import { ButtonGroup } from "@/components/starwind/button-group"
import { Dropdown, DropdownContent, DropdownTrigger } from "@/components/starwind/dropdown"
import { Input } from "@/components/starwind/input"
import IconSearch from "@tabler/icons/outline/search.svg"

interface Props {
  isMobile?: boolean
}

const { isMobile = false } = Astro.props
---

<Dropdown openOnHover>
  <DropdownTrigger asChild>
    <Button variant="ghost" class="rounded-none"><IconSearch /></Button>
  </DropdownTrigger>
  <DropdownContent align={isMobile ? "center" : "end"} class="min-w-44 border-none font-normal">
    <form action="/s/" method="get" id="search">
      <ButtonGroup>
        <Input name="q" class="w-full min-w-24" placeholder="Caută..." />
        <Button variant="outline" aria-label="Search" type="submit">
          <IconSearch />
        </Button>
      </ButtonGroup>
    </form>
  </DropdownContent>
</Dropdown>

<script is:inline>
  // import { navigate } from "astro:transitions/client"
  // nein: safari no work

  document.addEventListener("astro:page-load", () => {
    const formSearch = document.querySelector("#search")
    formSearch?.addEventListener("submit", async (event) => {
      event.preventDefault()
      const formData = new FormData(formSearch)
      const q = formData.get("q")

      if (!q || q === "") return

      // navigate(`/s/${q}`)
      window.location.href = `/s/${q}`
    })
  })
</script>
