---
import PageHero from "@/components/ui/typography/PageHero.astro"
import BaseLayout from "@/layouts/BaseLayout.astro"
import { For } from "@forastro/flow"

import { Image } from "astro:assets"

import ps1 from "src/assets/oldsite/photo1__role_sarma_Recuit01.jpg"
import ps2 from "src/assets/oldsite/photo2__role_sarma_Recuit02.jpg"
import ps3 from "src/assets/oldsite/photo3__rola_mare_recuit.png"
import ps4 from "src/assets/oldsite/photo4__1.jpg"
import ps5 from "src/assets/oldsite/photo5__2.jpg"
import ps6 from "src/assets/oldsite/photo6__3.jpg"
import ps7 from "src/assets/oldsite/photo7__4.jpg"
import ps8 from "src/assets/oldsite/photo8__5.jpg"
---

<BaseLayout title="Accesorii și consumabile">
  <PageHero title="Accesorii și consumabile" />

  <div class="prose dark:prose-invert max-w-5xl sm:px-4">
    <p>
      Oferim o gamă largă de piese de schimb pentru toate utilajele din oferta noastră. Simplificăm procesul de
      identificare și comandă a piesei corecte, oferind consultanță pentru a face achiziția cât mai simplă posibil.
    </p>
    <ul>
      <li>
        <strong>Piese de uzură</strong>: lamele (rotorul și statorul), dinții și cuțitele sunt înlocuite frecvent din
        cauza uzurii constante.
      </li>
      <li>
        <strong>Componente de separare și sită</strong>: ecrane, grile și plăci de perforare pentru separarea
        materialelor în funcție de dimensiune.
      </li>
      <li><strong>Ansambluri mecanice și electrice</strong>: motoare, cutii de viteze și componente de antrenare.</li>
      <li><strong>Sisteme hidraulice și pneumatice</strong>: furtunuri, garnituri, pompe și cilindri.</li>
      <li><strong>Piese transportoare și de manipulare a materialelor</strong>: curele, scripete și melc.</li>
    </ul>

    <h2>Sârmă moale neagră</h2>
    <p>
      Sârma moale neagră este, datorită procesului de călire, perfectă pentru toate tipurile de prese de balotat
      deșeuri. Fiind moale, unsă, având același diametru pe toată lungimea, este opțiunea perfecta din punct de vedere
      economic. Rolele sunt realizate precis asigurând o desfășurare perfecta în timpul utilizării zilnice. Dacă sârma
      nu se încurcă atunci nici nu se rupe. Acest tip de sârmă garantează o uzură minimă a sistemului de legare
      extinzând durata de viață si eficiența presei. De la depozitul nostru din Brașov putem livra rapid oriunde in
      țară.
    </p>

    <h4>Specificații tehnice</h4>
    <ul>
      <li><strong>Diametru:</strong> 3,2 mm</li>
      <li><strong>Toleranță:</strong> 0,02 / + 0,08 mm</li>
      <li><strong>Rezistența la rupere:</strong> +/- 2 kg/mm2</li>
    </ul>

    <div class="relative overflow-hidden">
      <table class="w-full table-auto text-left">
        <thead class="">
          <tr>
            <!--[-->
            <td class="p-4 py-3 text-center font-bold">
              <br />
            </td>
            <td class="p-4 py-3 text-center font-bold">Rola 500 kg</td>
            <td class="p-4 py-3 text-center font-bold">Rola 50 kg</td>
            <!--]-->
          </tr>
        </thead>
        <tbody class="">
          <!--[-->
          <tr class="py-3" style="">
            <!--[-->
            <td class="p-4 py-3 text-left">Înălțime</td>
            <td class="p-4 py-3 text-center">500 mm</td>
            <td class="p-4 py-3 text-center">200 mm</td>
            <!--]-->
          </tr>
          <tr class="py-3" style="">
            <!--[-->
            <td class="p-4 py-3 text-left">Diametru exterior</td>
            <td class="p-4 py-3 text-center">800 mm</td>
            <td class="p-4 py-3 text-center">350 mm</td>
            <!--]-->
          </tr>
          <tr class="py-3" style="">
            <td class="p-4 py-3 text-left">Diametru interior</td>
            <td class="p-4 py-3 text-center">400 mm</td>
            <td class="p-4 py-3 text-center">200 mm</td>
          </tr>
          <!--]-->
        </tbody>
      </table>
    </div>
  </div>

  <!-- [ -->
  <section>
    <div id="gallery" class="grid grid-cols-2 gap-2 px-2 pb-2 md:grid-cols-3">
      <For of={[ps1, ps2, ps3, ps4, ps5, ps6, ps7, ps8]}>
        {
          (ps) => (
            <a href={ps1.src} target="_blank" class="glightbox">
              <img
                src={ps.src}
                alt=""
                height="300"
                class="aspect-[3/2] w-full object-cover transition duration-300 ease-in-out"
              />
            </a>
          )
        }
      </For>
    </div>
  </section>
  <!-- ] -->
</BaseLayout>

<script>
  import GLightbox from "glightbox"
  import "glightbox/dist/css/glightbox.min.css"

  document.addEventListener("astro:page-load", () => {
    const lightbox = GLightbox({
      touchNavigation: true,
      autoplayVideos: true,
      loop: true,
      draggable: true,
    })
  })
</script>
