---
import PageHero from "@/components/ui/typography/PageHero.astro"
import BaseLayout from "@/layouts/BaseLayout.astro"
---

<BaseLayout>
  <PageHero title="Consumabile" />

  <div class="flex items-center justify-center">
    <div class="mx-auto w-full sm:px-6 sm:py-12">
      <h2 class="text-4xl font-semibold tracking-tighter md:text-5xl">Augue et bibendum habitasse maecenas sagittis</h2>
      <p class="text-muted-foreground mt-4 text-lg">
        Scelerisque laoreet metus nascetur tortor mollis dolor a volutpat. Malesuada consectetuer a quisque hendrerit
        nullam libero magnis amet. Erat letius maecenas turpis elit ultrices nunc cras iaculis volutpat lorem. Vitae
        lorem suscipit malesuada conubia vivamus euismod nam sem in nullam.
      </p>

      <div class="mt-16 grid justify-center gap-x-10 gap-y-16 sm:mt-24 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4">
        <div>
          <span class="text-5xl font-semibold tracking-tight md:text-6xl"> 900+ </span>
          <p class="mt-6 text-xl font-medium">Tristique rutrum</p>
          <p class="text-muted-foreground mt-2">
            Nulla fames felis vel adipiscing luctus platea quam vestibulum dictumst posuere. Quis consectetuer
            pellentesque platea augue nibh sit morbi.
          </p>
        </div>
        <div>
          <span class="text-muted-foreground text-5xl font-semibold tracking-tight md:text-6xl"> 10,000+ </span>
          <p class="mt-6 text-xl font-medium">Malesuada consectetuer</p>
          <p class="text-muted-foreground mt-2">
            Parturient pretium etiam ligula lectus odio curabitur tortor duis fames litora per.
          </p>
        </div>
        <div>
          <span class="text-5xl font-semibold tracking-tight md:text-6xl"> 420+ </span>
          <p class="mt-6 text-xl font-medium">Vitae lorem suscipit</p>
          <p class="text-muted-foreground mt-2">Suscipit ipsum adipiscing nullam dolor hendrerit mauris</p>
        </div>
        <div>
          <span class="text-muted-foreground text-5xl font-semibold tracking-tight md:text-6xl"> 2,000+ </span>
          <p class="mt-6 text-xl font-medium">Etiam efficitur</p>
          <p class="text-muted-foreground mt-2">Erat letius maecenas turpis elit ultrices nunc cras</p>
        </div>
      </div>
    </div>
  </div>
</BaseLayout>
