---
import PageHero from "@/components/ui/typography/PageHero.astro"
import BaseLayout from "@/layouts/BaseLayout.astro"
import IconMail from "phosphor-astro/Envelope.astro"
import IconPin from "phosphor-astro/MapPin.astro"
import IconPhone from "phosphor-astro/Phone.astro"
import IconBriefcase from "phosphor-astro/Briefcase.astro"
---

<BaseLayout>
  <PageHero title="Contact" />
  <div class="flex items-center justify-center">
    <div class="text-center">
      <div class="mx-auto grid max-w-(--breakpoint-xl) gap-16 sm:px-6 sm:py-24 lg:grid-cols-3">
        <div class="flex flex-col items-center text-center">
          <div class="flex h-12 w-12 items-center justify-center rounded-full">
            <IconMail />
          </div>
          <h3 class="mt-6 text-xl font-semibold">Email</h3>
          <p class="mt-2">info@h-ct.ro</p>
        </div>
        <div class="flex flex-col items-center text-center">
          <div class="flex h-12 w-12 items-center justify-center rounded-full">
            <IconPin />
          </div>
          <h3 class="mt-6 text-xl font-semibold">Office</h3>
          <p class="mt-2">Str. Zizinului 111, etaj 2, camera 28-29<br />500407 Braşov, România</p>
        </div>
        <div class="flex flex-col items-center text-center">
          <div class="flex h-12 w-12 items-center justify-center rounded-full">
            <IconPhone />
          </div>
          <h3 class="mt-6 text-xl font-semibold">Tel</h3>
          <p class="mt-2">Mobil/Whatsapp<br />+40-743-100.883</p>
        </div>
        <div class="flex flex-col items-center text-center sm:col-span-3">
          <div class="flex h-12 w-12 items-center justify-center rounded-full">
            <IconBriefcase />
          </div>
          <h3 class="mt-6 text-xl font-semibold">S.C. Hategan Consulting & Trading S.R.L.</h3>
          <p class="mt-2">RO37527965<br />J8/1102/2017<br />IBAN RON: RO91 RZBR 0000 0600 2262 8467</p>
        </div>
      </div>
    </div>
  </div>
</BaseLayout>
