---
import PageHero from "@/components/ui/typography/PageHero.astro"
import BaseLayout from "@/layouts/BaseLayout.astro"
import IconMail from "phosphor-astro/Envelope.astro"
import IconPin from "phosphor-astro/MapPin.astro"
import IconPhone from "phosphor-astro/Phone.astro"
---

<BaseLayout>
  <PageHero title="Contact" />
  <div class="flex items-center justify-center">
    <div class="text-center">
      <b class="text-muted-foreground text-sm font-semibold uppercase"> Contact Us </b>
      <h2 class="mt-3 text-2xl font-semibold tracking-tight md:text-4xl">Get In Touch</h2>
      <p class="text-muted-foreground mt-4 text-base sm:text-lg">Our friendly team is always here to chat.</p>
      <div
        class="mx-auto grid max-w-(--breakpoint-xl) gap-16 px-6 py-24 md:grid-cols-2 md:gap-10 md:px-0 lg:grid-cols-3"
      >
        <div class="flex flex-col items-center text-center">
          <div class="flex h-12 w-12 items-center justify-center rounded-full">
            <IconMail />
          </div>
          <h3 class="mt-6 text-xl font-semibold">Email</h3>
          <p class="text-muted-foreground mt-2">Our friendly team is here to help.</p>
          <a class="text-primary mt-4 font-medium" href="mailto:akashmoradiya3444@gmail.com">
            akashmoradiya3444@gmail.com
          </a>
        </div>
        <div class="flex flex-col items-center text-center">
          <div class="flex h-12 w-12 items-center justify-center rounded-full">
            <IconPin />
          </div>
          <h3 class="mt-6 text-xl font-semibold">Office</h3>
          <p class="text-muted-foreground mt-2">Come say hello at our office HQ.</p>
          <a class="text-primary mt-4 font-medium" href="https://map.google.com" target="_blank">
            100 Smith Street Collingwood <br /> VIC 3066 AU
          </a>
        </div>
        <div class="flex flex-col items-center text-center">
          <div class="flex h-12 w-12 items-center justify-center rounded-full">
            <IconPhone />
          </div>
          <h3 class="mt-6 text-xl font-semibold">Phone</h3>
          <p class="text-muted-foreground mt-2">Mon-Fri from 8am to 5pm.</p>
          <a class="text-primary mt-4 font-medium" href="tel:akashmoradiya3444@gmail.com"> +1 (555) 000-0000 </a>
        </div>
      </div>
    </div>
  </div>
</BaseLayout>
