---
import { For } from "@forastro/flow"

import BaseLayout from "@/layouts/BaseLayout.astro"

import IconSquare from "phosphor-astro/Square.astro"
import IconCheckSquare from "phosphor-astro/CheckSquare.astro"
import IconSelection from "phosphor-astro/Selection.astro"
import IconList from "phosphor-astro/List.astro"
---

<BaseLayout title="Elements">
  <article class="prose dark:prose-invert lg:prose-lg">
    <section class="flex flex-wrap gap-2">
      <IconSquare class="size-6" />
      <IconCheckSquare class="size-6" />
      <IconSelection class="size-6" />
      <IconList class="size-6" />
    </section>
    <h1>Heading 1</h1>
    <h2>Heading 2</h2>
    <h3>Heading 3</h3>
    <h4>Heading 4</h4>
    <h5>Heading 5</h5>
    <h6>Heading 6</h6>
  </article>
  <h2>Font</h2>

  <div class="text-xl">
    <p class="font-thin">The quick brown fox [thin]</p>
    <p class="font-extralight">The quick brown fox [extralight]</p>
    <p class="font-light">The quick brown fox [light]</p>
    <p class="font-normal">The quick brown fox [normal]</p>
    <p class="font-medium">The quick brown fox [medium]</p>
    <p class="font-semibold">The quick brown fox [semibold]</p>
    <p class="font-bold">The quick brown fox [bold]</p>
    <p class="font-extrabold">The quick brown fox [extrabold]</p>
    <p class="font-black">The quick brown fox [black]</p>
  </div>

  <div class="text-2xl">
    <For
      of={[
        "thin",
        "extralight",
        "light",
        "normal",
        "medium",
        "semibold",
        "bold",
        "extrabold",
        "black",
      ]}
    >
      {
        (value, info) => (
          <div class={`font-${value}`}>
            <span class="font-normal underline decoration-pink-600 underline-offset-4">
              {value}
            </span>{" "}
            Sphinx of black quartz, judge my vow. ăîșțâĂÎȘȚÂ
          </div>
        )
      }
    </For>
  </div>
</BaseLayout>
