---
import { For } from "@forastro/flow"

import BaseLayout from "@/layouts/BaseLayout.astro"
---

<BaseLayout title="Elements">
  <h1>Elements</h1>

  <h2>Typography</h2>

  <div class="text-2xl">
    <For
      of={[
        "extralight",
        "light",
        "normal",
        "medium",
        "semibold",
        "bold",
        "extrabold",
        "black",
      ]}
    >
      {
        (value, info) => (
          <div class={`font-${value}`}>
            {value} Sphinx of black quartz, judge my vow. ăîșțâĂÎȘȚÂ
          </div>
        )
      }
    </For>
  </div>
</BaseLayout>
