---
import BaseLayout from "@/layouts/BaseLayout.astro"

const features = [
  {
    title: "Identify Opportunities",
    description: "Find untapped areas to explore effortlessly.",
  },
  {
    title: "Build Authority",
    description: "Craft content that resonates and inspires trust.",
  },
  {
    title: "Instant Insights",
    description: "Get actionable insights instantly at a glance.",
  },
]
---

<BaseLayout>
  <div class="flex min-h-screen items-center justify-center px-6 py-12">
    <div class="w-full grow sm:max-w-(--breakpoint-md) lg:max-w-(--breakpoint-lg)">
      <h2 class="text-4xl font-semibold tracking-tight sm:text-5xl">Ignite Your Imagination</h2>
      <div class="mt-10 grid w-full gap-x-6 gap-y-12 sm:grid-cols-2 lg:grid-cols-3">
        {
          features.map((feature) => (
            <div class="flex w-full flex-col text-start">
              <div class="bg-muted mb-5 aspect-4/5 w-full rounded-xl sm:mb-6" />
              <span class="text-2xl font-semibold tracking-tight">{feature.title}</span>
              <p class="text-muted-foreground mt-2 max-w-[25ch] text-[17px]">{feature.description}</p>
            </div>
          ))
        }
      </div>
    </div>
  </div>
</BaseLayout>
