---
import BaseLayout from "@/layouts/BaseLayout.astro"
---

<BaseLayout>
  <div class="flex h-full flex-1 flex-col justify-evenly">
    <a href="/___not_here">Not found page test.</a>
    <a href="/categorii/">Categorii</a>
    <a href="/p/92ouomaojl7kckj">Exemplu produs 1</a>
  </div>
</BaseLayout>
