---
import { getCollection } from "astro:content"

import HeroHome from "@/components/ui/blocks/heroes/HeroHome.astro"
import HeroParteneri from "@/components/ui/blocks/heroes/HeroParteneri.astro"
import HeroPromos from "@/components/ui/blocks/heroes/HeroPromos.astro"
import BaseLayout from "@/layouts/BaseLayout.astro"
import PillCategorie from "@/components/ui/pills/PillCategorie.astro"
import PillMaterial from "@/components/ui/pills/PillMaterial.astro"
import PillPartener from "@/components/ui/pills/PillPartener.astro"
import Button from "@/components/starwind/button"
import IconArrowRight from "phosphor-astro/ArrowRight.astro"

const allCategorii = await getCollection("categorii")
const allMateriale = await getCollection("materiale")
const allParteneri = (await getCollection("parteneri", (p) => p.data.publicat)).sort(
  (x, y) => x.data._order - y.data._order,
)
---

<BaseLayout>
  <HeroHome />
  <!-- TODO: hero noutati -->
  <!-- <HeroParteneri /> -->

  <!-- all pills -->
  <article class="my-6 space-y-2 sm:px-2 lg:flex lg:flex-row">
    <div>
      <p class="mt-4 mb-1 text-lg font-medium">Categorii</p>
      <section class="flex flex-wrap gap-2">
        {allCategorii.map((categ) => <PillCategorie slug={categ.data.slug!} />)}
      </section>
    </div>
    <div>
      <p class="mt-4 mb-1 text-lg font-medium">Materiale</p>
      <section class="flex flex-wrap gap-2">
        {allMateriale.map((mater) => <PillMaterial id={mater.data.slug!} />)}
      </section>
    </div>
    <div>
      <p class="mt-4 mb-1 text-lg font-medium">Parteneri</p>
      <section class="flex flex-wrap gap-2">
        {allParteneri.map((part) => <PillPartener cod={part.data.cod!} />)}
      </section>
    </div>
  </article>

  <HeroPromos />
</BaseLayout>
