---
import "../styles/global.css"

import BaseLayout from "../layouts/BaseLayout.astro"
---

<BaseLayout>
  <div
    class="flex h-full flex-1 flex-col justify-evenly bg-gray-400 dark:bg-amber-400"
  >
    content
  </div>
</BaseLayout>
