---
import HeroHome from "@/components/ui/blocks/HeroHome.astro"
import BaseLayout from "@/layouts/BaseLayout.astro"
---

<BaseLayout>
  <HeroHome />
  <div class="flex h-full flex-1 flex-col justify-evenly gap-6">
    <a href="/categorii/">Categorii</a>
    <a href="/parteneri/">Parteneri</a>
    <a href="/materiale/">Materiale</a>
    <a href="/p/92ouomaojl7kckj">Exemplu produs descriere "features"</a>
    <a href="/p/9k5g59pjc1wqean">Exemplu produs descriere "bullets"</a>
    <a href="/p/qquhd2l1xdgb9z0">Exemplu produs descriere "richtext"</a>
  </div>
</BaseLayout>
