---
import BaseLayout from "@/layouts/BaseLayout.astro"

const { href } = Astro.url
---

<BaseLayout>
  <div class="prose dark:prose-invert my-6">
    <h1 class="">Profilo Aziendale</h1>
  </div>
</BaseLayout>
