---
import BaseLayout from "@/layouts/BaseLayout.astro"
---

<BaseLayout>
  <h1>Legale</h1>
  <ul>
    <li>credite imagini si info de la parteneri</li>
    <li>credite imagini ilustratii</li>
    <li>termeni si conditii</li>
  </ul>
</BaseLayout>
