---
import PageHero from "@/components/ui/typography/PageHero.astro"
import BaseLayout from "@/layouts/BaseLayout.astro"
---

<BaseLayout>
  <PageHero title="Legale" />
  <div class="sm:px-6">
    <ul>
      <li>credite imagini si info de la parteneri</li>
      <li>credite imagini ilustratii</li>
      <li>termeni si conditii</li>
    </ul>
  </div>
</BaseLayout>
