---
import {
  Item,
  ItemContent,
  ItemGroup,
  ItemHeader,
} from "@/components/starwind/item"

import BaseLayout from "@/layouts/BaseLayout.astro"
import { Image } from "astro:assets"
import { getCollection } from "astro:content"

const allParteneri = await getCollection("parteneri")
---

<BaseLayout>
  <h3>Parteneri</h3>

  <ItemGroup class="grid grid-cols-3 gap-4">
    {
      allParteneri.map((partener) => {
        const { cod, nume, descriere, logo, url } = partener.data

        return (
          <Item variant="outline" as="a" href={`/partener/${cod}`}>
            <ItemHeader>
              <Image src={logo ?? ""} inferSize width="300" alt={nume} />
            </ItemHeader>
            <ItemContent class="">
              <p class="text-lg font-semibold">{nume}</p>
              <p class="x">{descriere}</p>
            </ItemContent>
          </Item>
        )
      })
    }
  </ItemGroup>
</BaseLayout>
