---
import { Item, ItemContent, ItemGroup, ItemHeader } from "@/components/starwind/item"

import BaseLayout from "@/layouts/BaseLayout.astro"
import { Image } from "astro:assets"
import { getCollection } from "astro:content"

const allParteneri = await getCollection("parteneri")
---

<BaseLayout>
  <div class="prose dark:prose-invert prose-lg my-6">
    <h1>Parteneri</h1>
  </div>

  <div class="grid gap-2 sm:grid-cols-3 sm:gap-4">
    {
      allParteneri.map((partener) => {
        const { cod, nume, descriere, logo, url } = partener.data

        return (
          <a class="group bg-muted flex min-h-40 flex-col gap-2 p-2 sm:p-4" href={`/partener/${cod}`}>
            <div class="">
              <Image
                src={logo ?? ""}
                class="mx-auto transition duration-500 group-hover:scale-105"
                inferSize
                width="300"
                alt={nume}
              />
            </div>
            <div class="px-2">
              {/* <p class="text-lg font-semibold">{nume}</p> */}
              <p class="text-center">{descriere}</p>
              <div class="grow" />
            </div>
          </a>
        )
      })
    }
  </div>
</BaseLayout>
