---
import CardProdus from "@/components/ui/produs/CardProdus.astro"
import BaseLayout from "@/layouts/BaseLayout.astro"
import { Debug } from "astro:components"

import { getCollection } from "astro:content"

const allProds = (await getCollection("produse")).map((elem) => elem.data)
---

<BaseLayout title="scratchpad">
  Total: {allProds.length}

  <ul class="grid gap-4 sm:grid-cols-2 lg:grid-cols-3">
    {
      allProds.map(
        (prod) => (
          <li class="">
            <a href={`/p/${prod.id}`} class="group block overflow-hidden">
              <img
                src={prod.imagini![0]}
                alt=""
                class="h-[300px] w-full object-cover transition duration-500 group-hover:scale-105 sm:h-[350px]"
              />

              <div class="relative pt-3">
                <h3 class="font-headings text-xl group-hover:underline group-hover:decoration-pink-500 group-hover:decoration-2 group-hover:underline-offset-4">
                  {prod.nume}
                </h3>
              </div>
            </a>
          </li>
        ) /* - */,
      )
    }
  </ul>
</BaseLayout>
