---
import BaseLayout from "@/layouts/BaseLayout.astro"
import { Button } from "@/components/starwind/button"
import IconArrowRight from "phosphor-astro/ArrowRight.astro"
import PageHero from "@/components/ui/typography/PageHero.astro"

const features = [
  {
    category: "Mattis pellentesque rutrum",
    title: "Non torquent orci aenean sociosqu",
    details:
      "Scelerisque felis posuere fermentum senectus magnis vitae ornare habitasse. Est ligula vehicula tincidunt justo diam fringilla facilisis convallis duis. Finibus eget integer phasellus nascetur inceptos class primis lectus scelerisque. Natoque in ridiculus gravida nullam magnis taciti. Dis natoque non efficitur litora vivamus ipsum dictum venenatis aptent leo. Urna mi pulvinar nostra habitant massa curabitur.",
    tutorialLink: "#",
  },
  {
    category: "Dis natoque",
    title: "Commodo eleifend morbi arcu egestas",
    details:
      "Consectetuer tellus nunc auctor urna parturient velit scelerisque suscipit lacinia justo aliquam. Fermentum vel ex phasellus netus senectus potenti. Lobortis vel feugiat curabitur viverra mus. Suspendisse ipsum ad gravida donec nibh platea diam pede accumsan placerat sapien.",
    tutorialLink: "#",
  },
  {
    category: "Auctor faucibus",
    title: "Suspendisse ipsum ad gravida",
    details:
      "Scelerisque consectetur vel curae pulvinar maecenas pede imperdiet diam. Auctor blandit ligula integer penatibus fames ridiculus curabitur vitae quis cursus. Commodo eleifend morbi arcu egestas velit conubia netus nec et habitant fames.",
    tutorialLink: "#",
  },
]
---

<BaseLayout title="Servicii instalare și montaj">
  <PageHero title="Servicii instalare și montaj">
    <p class="max-w-5xl">
      Specialiștii noștri in automatizări asigură montarea, instalarea și punerea in funcțiune a utilajelor
      achiziționate, precum și reviziile tehnice atât în perioada de garanție cât și post-garanție.
    </p>
  </PageHero>

  <!-- <div class="flex items-center justify-center">
    <div class="w-full max-w-(--breakpoint-lg)">
      <div class="mx-auto mt-8 w-full space-y-20 md:mt-16">
        {
          features.map((feature) => (
            <div class="flex flex-col items-center gap-x-12 gap-y-6 md:flex-row md:even:flex-row-reverse">
              <div class="bg-muted border-border/50 aspect-[4/3] w-full basis-1/2 rounded-xl border" />
              <div class="shrink-0 basis-1/2">
                <span class="text-secondary text-sm font-medium uppercase">{feature.category}</span>
                <h4 class="my-3 text-2xl font-semibold tracking-tight">{feature.title}</h4>
                <p class="">{feature.details}</p>
                {/* <Button size="lg" class="mt-6 gap-3 rounded-full"> Learn More <IconArrowRight /> </Button> */}
              </div>
            </div>
          ))
        }
      </div>
    </div>
  </div> -->
</BaseLayout>
