---
import BaseLayout from "@/layouts/BaseLayout.astro"
import { Image } from "astro:assets"

import { Button } from "@/components/starwind/button"
import IconArrowRight from "phosphor-astro/ArrowRight.astro"
import IconChecks from "phosphor-astro/Checks.astro"

const servicii = ["Montaj", "Service", "Reparații", "Garanție", "Post-garanție"]

import img_inainte from "src/assets/illustratii/rszutilaj-before-d476f950.jpg"
import img_dupa from "src/assets/illustratii/rszutilaj-after-c473e4b2.jpg"
import PageHero from "@/components/ui/typography/PageHero.astro"
// text=``
// extraClass="max-w-none"
---

<BaseLayout>
  <PageHero title="Servicii de recondiționare">
    <p class="max-w-5xl">
      Specialiștii noștri in automatizări, asigură montarea, instalarea și punerea in funcțiune a utilajelor
      achiziționate, precum și reviziile tehnice atât în perioada de garanție cât și post-garanție. De asemenea,
      inginerii și tehnicienii noștri asigură servicii tehnice de montaj, lucrări de reparație și întreținere,
      recondiționare completă pentru instalații de prese si benzi transportoare, stații de sortare, precum și alte
      tipuri de utilaje.
    </p>
  </PageHero>
  <!-- inainte-dupa -->
  <div class="flex flex-col gap-2 sm:px-6 md:flex-row">
    <div class="flex-1">
      <h3 class="text-2xl font-semibold">Înainte</h3>
      <Image src={img_inainte} alt="inainte" />
    </div>
    <div class="flex-1">
      <h3 class="text-2xl font-semibold">După</h3>
      <Image src={img_dupa} alt="dupa" />
    </div>
    <div class="grow"></div>
  </div>
</BaseLayout>
