---
import BaseLayout from "@/layouts/BaseLayout.astro"
import { Image } from "astro:assets"

import { Button } from "@/components/starwind/button"
import IconArrowRight from "phosphor-astro/ArrowRight.astro"
import IconChecks from "phosphor-astro/Checks.astro"

const servicii = ["Montaj", "Service", "Reparații", "Garanție", "Post-garanție"]

import img_inainte from "src/assets/illustratii/rszutilaj-before-d476f950.jpg"
import img_dupa from "src/assets/illustratii/rszutilaj-after-c473e4b2.jpg"
import PageHero from "@/components/ui/typography/PageHero.astro"
---

<BaseLayout>
  <PageHero
    title="Servicii întreținere și recondiționare"
    text=`Specialiștii noștri in automatizări, asigură montarea, instalarea și punerea in funcțiune a utilajelor
          achiziționate, precum și reviziile tehnice atât în perioada de garanție cât și post-garanție. De asemenea,
          inginerii și tehnicienii noștri asigură servicii tehnice de montaj, lucrări de reparație și întreținere,
          recondiționare completă pentru instalații de prese si benzi transportoare, stații de sortare, precum și alte
          tipuri de utilaje.`
    extraClass="max-w-none"
  />
  <div class="flex items-center justify-center">
    <div class="mx-auto w-full max-w-(--breakpoint-lg)">
      <!-- intro -->
      <div class="mb-8 space-y-4">
        <ul class="flex flex-wrap gap-4">
          {
            servicii.map((serv) => (
              <div class="bg-info text-info-foreground px-2 py-1.5">
                {/* <IconChecks width={22} height={22} class="mr-0.5 inline-block" /> */}
                {serv}
              </div>
            ))
          }
        </ul>
      </div>
      <!-- inainte-dupa -->
      <section class="pt-12 pb-12 lg:pt-16 lg:pb-16">
        <div class="mx-auto grid max-w-7xl gap-y-8 px-4 sm:grid-cols-12 sm:gap-x-12 sm:gap-y-0 xl:px-0">
          <!-- inainte -->
          <div class="sm:col-span-1">
            <h3 class="text-2xl font-semibold">Înainte</h3>
          </div>
          <div class="sm:col-span-5">
            <Image src={img_inainte} alt="inainte" />
          </div>
          <!-- dupa -->
          <div class="sm:col-span-1">
            <h3 class="text-2xl font-semibold">După</h3>
          </div>
          <div class="sm:col-span-5">
            <Image src={img_dupa} alt="dupa" />
          </div>
        </div>
      </section>

      <!-- // inainte-dupa -->
    </div>
  </div>
</BaseLayout>
