---
import { conf } from "@/config/site"
// import Logo from "@/assets/logo-hct.svg"
import Logo from "@/assets/hct-logo-simple.svg"
import IconWhatsapp from "phosphor-astro/WhatsappLogo.astro"
import { Button } from "@/components/starwind/button"

const year = new Date().getFullYear()
---

<footer class="bg-gray-200 py-8">
  <div class="mx-auto px-4 xl:px-0">
    <div
      class="grid justify-center gap-y-3 sm:text-center md:px-4 lg:grid-cols-[1fr_auto_1fr] lg:items-center lg:gap-x-12 lg:gap-y-0 lg:px-8 lg:text-left"
    >
      <div class="text-muted-foreground text-sm font-light">
        <time>&copy;{year}</time>
        {conf.title}.
      </div>
      <figure class="justify-self-center">
        <Logo class="size-8" />
      </figure>
      <div class="flex flex-wrap items-center gap-6 sm:justify-center lg:justify-self-end">
        <Button href="/dev" variant="outline"> dev </Button>

        <a href="/legale" class="text-muted-foreground text-sm font-light">Informații legale</a>
        <a href="/contact" class="text-muted-foreground text-sm font-light">Contact</a>
        <!-- <IconWhatsapp class="fill-muted-foreground size-6" /> -->
      </div>
    </div>
  </div>
</footer>
