---
import type { Materiale } from "@/lib/pbtypes"
import type { HTMLAttributes } from "astro/types"
// https://css-tricks.com/crafting-strong-dx-with-astro-components-and-typescript/
import { getCollection } from "astro:content"

interface Props extends HTMLAttributes<"div"> {
  lista: Materiale[]
}

const { lista, ...attrs } = Astro.props
---

<div {...attrs}>
  {
    lista.map((m) => (
      <span class="bg-info text-info-foreground inline-flex items-center justify-center gap-1 rounded-full px-3 py-1">
        <a class="text-sm whitespace-nowrap" href={`/m/${m.slug}`}>
          {m.denumire}
        </a>
      </span>
    ))
  }
</div>
