---
import { getEntry } from "astro:content"

interface Props {
  slug: string
}

const { slug } = Astro.props

const categorie = await getEntry("categorii", slug)
if (categorie === undefined) {
  return Astro.redirect("/404")
}
const { nume, descriere, icon } = categorie.data
---

<!-- <div class="" set:html={icon} /> -->
<span
  class="bg-success text-success-foreground inline-flex items-center justify-center gap-1 rounded-full px-3 py-1"
  ><a class="text-sm whitespace-nowrap" href={`/c/${slug}`} title={descriere}
    >{nume}</a
  >
</span>
