---
import { getEntry } from "astro:content"

interface Props {
  id: string
}

const { id } = Astro.props

const material = await getEntry("materiale", id)
if (material === undefined) {
  return Astro.redirect("/404")
}
const { denumire, icon, slug } = material.data
---

<!-- <div class="" set:html={icon} /> -->
<span
  class="bg-info text-info-foreground inline-flex items-center justify-center gap-1 rounded-full px-3 py-1"
  ><a class="text-sm whitespace-nowrap" href={`/m/${slug}`}> {denumire}</a>
</span>
