---
import GridProduse from "@/components/ui/produs/GridProduse.astro"
import BaseLayout from "@/layouts/BaseLayout.astro"
import { Debug } from "astro:components"

import { getEntry, render } from "astro:content"

const { id } = Astro.params
if (id === undefined) {
  return Astro.redirect("/404")
}
const categorie = await getEntry("categorii", id)
if (categorie === undefined) {
  return Astro.redirect("/404")
}

const { nume, descriere, icon } = categorie.data
---

<!-- ACHTUNG!!! id--slug -->
<BaseLayout title={categorie.data.nume}>
  <div class="prose dark:prose-invert prose-lg my-6">
    <h1>{nume}</h1>
  </div>
  <GridProduse categorii={[categorie.data.id]} />
</BaseLayout>
