---
import "@/styles/starwind.css"

import { ClientRouter } from "astro:transitions"
import LayoutGrid from "astro-layoutgrid"
import { ThemeScript } from "astro-theme-toggle"

import Navigation from "@/components/Navigation.astro"
import Footer from "@/components/Footer.astro"

interface Props {
  title?: string
}

const { title } = Astro.props
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />

    <title>{title}</title>

    <ThemeScript />
    <ClientRouter />
  </head>

  <body class="dark">
    <div class="container mx-auto flex min-h-dvh flex-col">
      <Navigation />
      <main class="grow px-3 sm:px-0"><slot /></main>
      <Footer />
    </div>
    <LayoutGrid gridColor="#fca5a5" />
  </body>
</html>
