---
import Button from "@/components/starwind/button"
import { conf } from "@/config/site"
import { Image } from "astro:assets"
import IconArrowRight from "phosphor-astro/ArrowRight.astro"

import Illustration1 from "src/assets/illustratii/11_Sisteme-reciclare-metal_2.png"
import HomeCarousel from "@/components/ui/blocks/HomeCarousel.astro"
---

<!-- https://www.shadcnui-blocks.com/blocks/categories/hero -->
<div class="flex items-center justify-center">
  <div class="mx-auto grid w-full max-w-(--breakpoint-xl) gap-12 px-6 py-12 lg:grid-cols-12">
    <div class="sm:col-span-8">
      <h1
        class="mt-6 max-w-[17ch] text-4xl leading-[1.2]! font-semibold tracking-tight md:text-5xl lg:text-[2.75rem] xl:text-[3.25rem]"
      >
        Hațegan<br /><span class="font-light">Consulting & Trading</span>
      </h1>
      <p class="text-foreground/80 mt-6 max-w-[60ch] sm:text-lg">
        {conf.description}
      </p>
      <div class="mt-12 flex items-center gap-4">
        <Button size="md" href="/produse" class="rounded-none text-base">
          Produse <IconArrowRight class="h-5! w-5!" />
        </Button>
      </div>
    </div>
    <div class="bg-muted aspect-video sm:col-span-4">
      <HomeCarousel />
    </div>
  </div>
</div>
