---
import BaseLayout from "@/layouts/BaseLayout.astro"
---

<BaseLayout>
  dev page
  <ul>
    <li><a href="/dev/demo">Demo page</a></li>
    <li><a href="/dev/screenshots">screenshots</a></li>
  </ul>
</BaseLayout>
