---
const { item } = Astro.props
---

<li class="bg-muted">
  <a href={`/p/${item.id}`} class="group block overflow-hidden">
    <img
      src={`${item.url_imagine}`}
      alt=""
      class="h-[300px] w-full object-cover transition duration-500 group-hover:scale-105 sm:h-[350px]"
    />

    <div class="relative px-1 pt-2">
      <h3
        class="font-headings text-xl group-hover:underline group-hover:decoration-pink-500 group-hover:decoration-2 group-hover:underline-offset-4"
      >
        {item.nume}
      </h3>
    </div>
  </a>
</li>
