---
import { getEntry } from "astro:content"

interface Props {
  id: string
}

const { id } = Astro.props

const categorie = await getEntry("categorii", id)
if (categorie === undefined) {
  return Astro.redirect("/404")
}
const { nume, descriere, icon, slug } = categorie.data
---

<span
  class="bg-success text-success-foreground inline-flex items-center justify-center gap-1 rounded-full px-3 py-1"
  ><div class="" set:html={icon} />
  <a class="text-sm whitespace-nowrap" href={`/m/${slug}`}> {nume}</a>
</span>
